<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
  <title>{{html_title}}</title>
</head>

<body class="bg-white">
  <div class="container mx-auto px-2">
    <div class="max-w-md mx-auto flex p-6">
      <img src="../img/logo.png" alt="" />
    </div>
    <div class="md:flex mb-10">
      <!-- Left side -->
      <div class="flex-1">
        <div class="max-w-lg mx-auto">
          <div class="text-2xl font-bold ">
            {{webinar_title}}
          </div>
          <div class="py-2 text-base font-light">
            {{small_description}}
          </div>
          <div class="my-5 max-w-lg border-2 p-6 font-light">
            <h3 class="text-xl my-2 font-bold">LEARN HOW TO</h3>
            <ul style="list-style-type:circle;" class="p-2">
              <li class="p-2">
                {{bullet_point_1}}
              </li>
              <li class="p-2">
                {{bullet_point_2}}
              </li>
              <li class="p-2">
                {{bullet_point_3}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Right side -->
      <div class="flex-1">
        <div class="max-w-sm mx-auto p-6 bg-white shadow-xl bg-blue-600">
          <div class="ml-6">
            <h4 class="text-xl font-bold text-gray-100">
              Date: {{date_free_text}}
            </h4>
            <p class="text-base text-gray-100">
              Time: {{time_free_text}}
            </p>
          </div>
        </div>
        <div class="max-w-sm mx-auto mt-4 p-6 bg-gray-800 shadow-xl">
          <h3 class="p-2 text-gray-100 font-bold text-2xl">
            Sign up now
          </h3>
          <form id="signup-form" name="signup-form" class="w-full max-w-sm" method="POST" data-netlify="true">
            <div class="">
              <input hidden name="tag" value="{{tag}}" />
              <div class="p-2">
                <input
                  class="bg-gray-800 placeholder-gray-500 appearance-none border-2 border-gray-600 w-full py-3 px-4 text-gray-400 leading-tight focus:outline-none focus:border-gray-500"
                  type="text" name="name" placeholder="Full name" autocomplete="name" required />
              </div>
              <div class="p-2">
                <input
                  class="bg-gray-800 placeholder-gray-500 appearance-none border-2 border-gray-600 w-full py-3 px-4 text-gray-400 leading-tight focus:outline-none focus:border-gray-500"
                  name="email" type="email" placeholder="Email" autocomplete="email" required />
              </div>
              <div class="p-2 mb-2">
                <input
                  class="bg-gray-800 placeholder-gray-500 appearance-none border-2 border-gray-600 w-full py-3 px-4 text-gray-400 leading-tight focus:outline-none focus:border-gray-500"
                  type="text" name="companyName" placeholder="Company name" autocomplete="organization" required />
              </div>
              <div class="p-2">
                <button
                  class="text-base text-green-600 w-full shadow p-2 bg-white hover:bg-green-600 hover:text-white focus:shadow-outline focus:outline-none text-white font-bold"
                  type="submit">
                  Reserve your spot
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="border-2 max-w mx-auto flex p-6 mb-8">
      <img src="../img/speaker.png" alt="" class="h-64 w-64" />
      <div class="ml-6 pt-1">
        <h4 class="text-xl text-gray-900">
          <a href="https://www.linkedin.com/in/johnvlachoyiannis/">Jon Vlachogiannis</a>
          - Founder and CEO of AgentRisk
        </h4>
        <p class="text-base">
          Jon is a registered financial advisor and Wealth Manager for
          Entrepreneurs, Celebrities and high net worth individuals. <br />
          He founded his third company (Bugsense) in San Francisco with just
          $100K and sold it to a public Silicon Valley company ($SPLK) for a
          17x return. <br />
          <br />
          Jon moved to Los Angeles and created AgentRisk - an Automated Wealth
          Management company - 4 years ago to help clients and advisors
          automate their financials and improve their communications.
          <br />
        </p>
      </div>
    </div>
  </div>

  <script src="../js/index.js"></script>
</body>

</html>
